<h1>Lists list! </h1>
<div class="cards">
  <%@lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path list.photo.key%>)">
      <h1><%= list.name  %></h1>
      </div>
    <%end%>
  <%end%>
</div>
<div class="btn btn-success">
<%= link_to "Create a list", new_list_path %>
</div>
